.container{
		filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	
}

.container:hover{
	filter:  none;
	-webkit-filter: none; 
}
.container-fluid{
			position: absolute;
			display: block;
			top: 20%;
			text-align: center;
			left: 30%;
		filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	
}
.container-fluid:hover{
	filter:  none;
	-webkit-filter: none; 
}